@media (min-width: 600px) {
  header {
    height: 100px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    font-size: 2.5rem;
    text-decoration: none;
    color: black;
  }
  .nav {
    &__links {
      display: flex;
      min-width: 600px;
      justify-content: space-between;
      font-weight: 700;
    }
    &__link {
      color: black;
      font-size: 1.5rem;
      text-decoration: none;
    }
    &__cart {
      color: black;
      font-size: 2rem;
    }
  }
}
